**/__pycache__
**/.DS_Store
persona/mbti_llms/codes/rlhf/data_augment/negative/**/*.json
persona/mbti_llms/codes/rlhf/data_augment/neutral/**/*.json
persona/mbti_llms/codes/rlhf/data_augment/original/**/*.json
persona/mbti_llms/codes/rlhf/data_augment/positive/**/*.json